.hero{
    padding: 3rem;
    background-color: rgba(255,255,255,0.4);
    margin-bottom: 5rem;
    border-radius: 30px;

    text-align: center;
}
.hero>p{
    font-size: 5rem;
    
    background: linear-gradient(to bottom right, #ff2cdf, #0014ff);
    background-clip: text;
    color: transparent;
}
.about{
    display:flex;
    gap:5rem;
    text-align: center;

}
.MyInformation{
    padding: 3rem;
    background-color: rgba(255,255,255,0.4);
    flex:1;
    border-radius: 30px;
}

.showcase{
    max-width: 80vw;
}

.showcaseBox{
  
    display:flex;
    gap:5rem;
    margin: auto;
   
   
}
.showcase1{
   
  width:40vw;
  height: 50vh;
    animation-name: bg-slice1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.showcase2{
  
    width:40vw;
    height:50vh;

    animation-name: bg-slice2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

footer{
    text-align: center;
}

@keyframes bg-slice1{
    0% {
        background-image: url('../img/p1-1.png');
        background-repeat: no-repeat;
        background-size: 100% ;

      }
      33% {
        background-image: url('../img/p1-2.png');
        background-repeat: no-repeat;
        background-size: 100% ;
      }
      66% {
        background-image: url('../img/p1-3.png');
        background-repeat: no-repeat;
        background-size: 100% ;
      }
      100%{
        background-image: url('../img/p1-1.png');
        background-repeat: no-repeat;
        background-size: 100% ;
      }
}
@keyframes bg-slice2{
    0% {
        background-image: url('../img/p2-1.png');
        background-repeat: no-repeat;
        background-size: 100% ;

      }
      33% {
        background-image: url('../img/p2-2.png');
        background-repeat: no-repeat;
        background-size: 100% ;
      }
      66% {
        background-image: url('../img/p2-3.png');
        background-repeat: no-repeat;
        background-size: 100% ;
      }
      100% {
        background-image: url('../img/p2-1.png');
        background-repeat: no-repeat;
        background-size: 100% ;

      }
}

@media only screen and (max-width: 1000px){
    body{
        padding-left: 1rem;
        padding-right: 1rem;
        gap:3rem;
    }
    .hero{
    

        margin:0;
      
  
    }

    .showcaseBox{
        flex-direction: column;
    }
 
    .about{
        flex-direction: column;
        gap:3rem;
    
    }
    .MyInformation{
        padding: 1rem;

    }
    .MyImg{
        padding:1rem;

    }

}