/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
.cover1{
  position: absolute;
  left: -500em;
  top:0;
  width:100vw;
  height:20vh;
  z-index: -1;
  background:goldenrod;
  animation-name: move1;
  animation-duration: 3s;
}
.cover2{
  position: absolute;
  left: -500em;
  top:0;
  width:100vw;
  height:20vh;
  z-index: -1;
  background:goldenrod;
  animation-name: move2;
  animation-duration: 3s;
}
.cover3{
  position: absolute;
  left: -500em;
  top:0;
  width:100vw;
  height:20vh;
  z-index: -1;
  background:goldenrod;
  animation-name: move3;
  animation-duration: 3s;
}
.cover4{
  position: absolute;
  left: -500em;
  top:0;
  width:100vw;
  height:20vh;
  z-index: -1;
  background:goldenrod;
  animation-name: move4;
  animation-duration: 3s;
}
.cover5{
  position: absolute;
  left: -500em;
  top:0;
  width:100vw;
  height:20vh;
  z-index: -1;
  background:goldenrod;
  animation-name: move5;
  animation-duration: 3s;
}



@keyframes move1{
  0%{

      left:0;
      top:0;
  }
  50%{
    left:-50vw;
    top:0;
  }


  100%{
    
      left:-200vw;
      top:0;
  }
}
@keyframes move2{
  0%{

      left:0;
      top:20vh;
  }
  60%{
    left:-60vw;
    top:20vh;
  }

  100%{
  
      left:-200vw;
      top:20vh;
  }
}
@keyframes move3{
  0%{

      left:0;
      top:40vh;
  }
  70%{
    left:-70vw;
    top:40vh;
  }

  100%{

      left:-200vw;
      top:40vh;
  }
}
@keyframes move4{
  0%{
  
      left:0;
      top:60vh;
  }
  80%{
    left:-80vw;
    top:60vh;
  }

  100%{
    
      left:-200vw;
      top:60vh;
  }
}
@keyframes move5{
  0%{

      left:0;
      top:80vh;
  }
  90%{
    left:-90vw;
    top:80vh;
  }


  100%{

      left:-200vw;
      top:80vh;
  }
}
html{
  padding-left:10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
body {
  font-family: Arial, Helvetica, sans-serif ;

  background:black;
  background-repeat: no-repeat;

  
}

.element {
  padding-bottom: 2rem;
  border-top-width: 1rem;
  padding:2rem;

  
 
}

section{
  border-bottom: 2px solid white;
}

h1{
  font-family: Georgia;
font-size: 48px;
padding-left: 5rem;
color: gold;

}
h2 {
  font-size: 36px;
  
  color: gold;
  

}
.element h1{
  padding-left: 0;
}
.element h2{
  margin-top:0;
  padding-left: 0;
}
.element h3{
  margin-bottom: 1rem;
}

h3 {
  font-size: 24px;
  margin-top: 1rem;
  color: gold;
}

h4 {
  font-size: 24px;
  margin-bottom: 0.25rem;
  color: gold;
}

p {
  font-size: 24px;
  margin-top: 0;
  
  color:white;
}

li{
  color: white;
}


nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #F8EDE3;
  padding: 0.5rem;
  display: block;
}

a{
  color:white;
 
}
a:hover, a:focus{
  color:gold;
  
}

.button-nav{
  color:gold;
  background: linear-gradient(to bottom right, black, gold);
  font-size: 24px;
}
.button-nav:focus{
 
  color:gold;
  background:linear-gradient(to bottom right, gold,black);
}
.button-nav:hover{
  
  color:gold;
  background:linear-gradient(to bottom right, gold, black);

}
.guide_radio {

  max-width: 40rem;
  display:flex;
 
  
}
.guide_radio input{
  width: 1rem;
}
  a:hover img {
    box-shadow: 0px 0px 100px gold;
  }
  a:focus img {
    box-shadow: 0px 0px 100px gold;
  }

  a:hover div{
    box-shadow: 0px 0px 100px gold;
  }
  a:focus div {
    box-shadow: 0px 0px 100px gold;
  }



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */


.button-nav {
  display: inline-block;
  padding: 0.5rem;
  
  color: white;

  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 30px;
}

.button-nav:hover, .button-nav:focus {
  color:white;
 
}

/*Checkout Cart*/
label{
  
  width:100%;
  display:flex;
  color:white;
  

}
input{
  
  width:100%;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
  
  
  
  
  margin-bottom: 1.3rem;
  border-radius: 30px;
  
  

}
input:hover{
  background-color:#59CBE8;
  
  transition-duration: 0.5s;
}
input:focus{
  background-color:#59CBE8;
  color:#F000DB;
  transition-duration: 0.5s;
}



.submit{
  color:white;
  background: linear-gradient(to bottom right, black, gold);
  border-radius: 30px;
}
.submit:hover, .submit:focus{
  color:white;
  background:linear-gradient(to bottom right, gold, black);
}
.reset{
  color:white;
  background: linear-gradient(to bottom right, black, gold);
  border-radius: 30px;
}
.reset:hover, .reset:focus{
  color:white;
  background:linear-gradient(to bottom right, gold, black);
  
}
/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/
/*navigation, menu*/
.nav a{
  display:block;
} 
.navigation{
 
  padding: 5rem;
  display:flex;  
  justify-content: center;
  gap:5rem;
}
.navigation>a{
  text-align: center;
  
}


.guid_box{
  max-width: 50%;
}
.main_nav a{
  margin:1rem;
}

.menu{
  gap: 3rem;
  
  flex:1;
}
/*Project detail*/
.project-detail{
  display:flex;
  gap: 5rem;
}
.project-information{
 
  flex:1;

}
.project-img{
 
  flex:1;

}

.project-detail img{
 max-width: 100%;
}



/*product list */
.product_box{
  display:flex;
  padding:5rem;
  gap:10rem;
  flex-wrap: wrap;
  
  
  
  margin:auto;
  justify-content:space-between;
}
.product{
  max-width: 100%;
  flex-wrap: wrap;
  padding: 3rem;

  flex:1;

  
}

.product_info{
  
  justify-content:space-between;
  max-width: 100%;

}
.product_img{
  min-width:100%;
}
.product_img img{
  
  width:100%;
  display:block;
  position:relative;

}

/*answer for qustions */

.idea h2{
margin-top: 0;
}
.color{
  max-width: 50%;
  padding-bottom: 3rem;
  
}
.black{
  color:white;

  border:1px solid white;
  padding:1rem;
  border-radius: 30px;
  
}
.white{
  border:1px solid black;
  background-color: white;
  color:black;
  padding:1rem;
  border-radius: 30px;
}

.color1{
  color:white;
  background-color: gold;
  padding:1rem;
  border-radius: 30px;
}

.checkout_page{
  padding:5rem;
  gap:5rem;
  display:flex;

}
.Payment_form{
  flex:1;
}
.checkout_cart{
  flex:1;
}
/*when screen smaller than 1200px */
@media only screen and (max-width: 1200px){
  .product_box{
    gap:1rem;
  }
  .checkout_page{
    gap:1rem;
    padding: 1rem;
    flex:1;
  }
  .checkout_detail{
    flex-direction: column;
   margin:auto;
    flex:1;
  }
  
  .menu{
    gap: 1rem;
    padding-bottom: 1rem;
    flex:1;
    
  }
  .navigation{
    
    padding: 1rem;
  }
  .checkout_detail{
    
   margin:auto;
    flex:1;
  }
  h1{
    padding: 1rem;
    flex:1;
  }
  h2{
    padding: 1rem;
    flex:1;
  }
  .product_box{
    padding:1rem;
  }

}
/*when screen smaller than 600px */
@media only screen and (max-width: 600px) {
  .Payment_form{
  
    
  
    padding:1rem;
    
  }
  .product_box{
    flex-direction: column;
  }
  
  
  .checkout_page{
    flex-direction: column;
    padding: 0;
    flex:1;
  }

  .menu{
    flex-direction: column;
    padding-bottom: 1rem;
    flex:1;
    
  }
  .navigation{
    flex-direction: column;
    padding: 0;
    gap:1rem;
  }

  h1{
    padding: 0;
    flex:1;
  }
  h2{
    padding: 0;
    flex:1;
  }
  .product_box{
    padding:0;
  }

}